html, body, #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.el-table {
    margin-top: 10px;

}


.el-pagination {
    margin-top: 10px;
    text-align: center;
}
