html, body, #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.el-table {
    margin-top: 10px;
}

.el-breadcrumb {
    margin-bottom: 10px;
}

.el-pagination {
    margin-top: 10px;
    text-align: center;
}

.expand-table label {
    width: 200px;
    color: #748092;
    font-weight: 400;
    line-height: 20px;
}

.expand-table .el-form-item__content {
    line-height: 20px;
}
